repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/SL2000s/pre-commit-latex-hooks
    rev: v1.0.2
    hooks:
      - id: replace-bad-chars
